*.local
.python-version

# Python
*.pyc
*.pyo
__pycache__/
venv/

# pyproject.toml is the source of truth
requirements.txt

# uv
.uv/
.venv/

# Firebase
firebase-debug.log
firebase-debug.*.log
.runtimeconfig.json
.firebase/

*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
dist/
build/
node_modules/

# As a failsafe
.env
service-account.json